<!DOCTYPE html>
<html>
	<meta charset="UTF-8">
	<head>
		<title>Oauth2</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<body>
		<section class="text-center" style="max-width:600px">
		<h2 class="">ACHIEVEMENT SPY</h2>
		<p class=""><i>Desc</i></p>
		<div class="content text-center">
			</br></br>
			<a href="/auth"><button type="button" class="btn btn-success">Log in</button></a></br></br>
		</div>
	</body>
</html>