<html>
		<head>
			<title>Oauth2</title>
			<meta charset="utf-8">
			<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		</head>
		<body>
			<div class="content text-center">
				</br></br>
				<form role="form" method="post" action="/request">
				  <div class="form-group">
					<label for="request">Request:</label>
					<input type="text" class="form-control" name="request" id="request">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
			</br></br><p><%= req_ret %></p></br></br>
		</body>
	</html>